<!-- students/student_list.html -->
{% extends 'students/base.html'%}

{% block title %}Список студентов{% endblock %}

{% block content %}
{% include 'students/header.html' %}
<h1>Список студентов</h1>
<ul class="list-group">
    {% for student in students %}
    <li class="list-group-item">
        {{ student.first_name }} {{ student.last_name }} - {{ student.year }}
        {% if perms.students.can_promote_student %}
            <a href="{% url 'promote_student' %}">'Перевести студента'</a>
        {% endig %}
        {% if perms.students.can_expel_student %}
           <a href="{% url 'expel_student' %}">'Исключить студента'</a>
        {% endig %}
        {% endig %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
